<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editing <%=user.email%></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Welcome <%=user.email%></h2>
    <form method="POST" action="/users/<%= user.id %>?_method=PATCH">
      <textarea name="username"><%=user.username%></textarea>
      <br />
      <input type="password" name="password" placeholder="password" />
      <br />

      <button>Edit</button>
    </form>
  </body>
</html>
