<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creating your profile</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form method="post" action="/users">
      Username:
      <input name="username" placeholder="Enter your username" />
      <br /><br />
      Email: <input name="email" placeholder="example@gmail.com" /><br /><br />
      Password:
      <input
        type="password"
        name="password"
        placeholder="password"
      /><br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
